<!DOCTYPE html>
<html lang="en">
  <!-- Head tag -->
  <%- partial('_partial/head') %>

  <body class="scroll-assist">
    <%- partial('_partial/navbar') %>
    <div class="row">
      <%- body %>
    </div>
    <!-- After footer scripts -->
    <%- partial('_partial/footer') %>
  </body>
</html>
