<!--
<section class="image-slider slider-all-controls parallax controls-inside pt0 pb0">
    <ul class="slides">
        <li class="overlay image-bg pt40 pb40 pt-xs-8 pb-xs-8">
            <div class="background-image-holder" >
                <img alt="image" class="background-image" src="aboutcover.jpg" />
            </div>
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h3 class="mb8 uppercase">Our History</h3>
                        <div style="margin-right:40%; margin-left:40%; border-bottom: 1px solid white; text-align:center; margin-bottom:8px;"></div>
                        <h4>Why we decided to build Lyra Atlas</h4>
                    </div>
                </div>

            </div>

        </li>
    </ul>
</section>-->
<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="about1.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content" style="margin-right:15px; margin-left:15px;">
        <h4 class="uppercase">We think everyone should be able to create a bucket list</h4>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
        </p>
    </div>
</section>
<section class="image-square right">
    <div class="col-md-6 p0 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="about2.jpeg" />
        </div>
    </div>
    <div class="col-md-6 content container">
        <h4 class="uppercase">Our Values</h4>
        <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
        </p>
        <hr>
        <p>
            <strong>E:</strong> hello@lyraatlas.com
            <br />
        </p>
    </div>
</section>