<section class="image-square right">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="about.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content" style="margin-right:15px; margin-left:15px;">
        <h4 class="uppercase">We want to change the world.</h4>
        <p>
            We want to inspire others to try something new. 
            Travel, food, experiences and whatever else you aspire to do. 
            With Lyra Atlas we’re connecting you with others all over the globe who are taking in the world one bucket at a time. 
            Trying something new is one of those things in life that makes us better people. 
            We want to create a community of humans who share and embolden each other to live life to it’s fullest.
        </p>
    </div>
</section>
<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="about1.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content" style="margin-right:15px; margin-left:15px;">
        <h4 class="uppercase">We think everyone should be able to create a bucket list.</h4>
        <p>
            Bucket lists are for everyone. Whether you want to see the wonders of the world or try a new bbq joint down the street, it does not matter. 
            Everyone has buckets. We just want to make it easier to manage them. 
            And if you’re feeling inspired along the way that’s even better! We want to create a community for the dreamers. 
            A place that you can share your lists and bucket checks and inspire others to do the same.
        </p>
    </div>
</section>
<section class="image-square right">
    <div class="col-md-6 p0 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="about2.jpeg" />
        </div>
    </div>
    <div class="col-md-6 content container">
        <h4 class="uppercase">How we got our name?</h4>
        <p>
            Are you wondering where the name came from? My favorite book series is His Dark Materials. 
            When I think of exploring Lyra Belacqua is the first character that comes to mind. 
            For me, Lyra was the epitome of the type of person I envision seeing every corner of the world. 
            Voila! Lyra Atlas was the perfect name. 
        </p>
        <hr>
        <p>
            <strong>E:</strong> hello@lyraatlas.com
            <br />
        </p>
    </div>
</section>