<div class="main-container">
    <section class="image-slider slider-all-controls parallax controls-inside pt0 pb0">
        <ul class="slides">
            <li class="overlay image-bg pt240 pb240 pt-xs-120 pb-xs-120">
                <div class="background-image-holder">
                    <%- image_tag('images/hero.jpg', { class: "background-image", alt:"Lyra Atlas" }) %>
                </div>
                <div class="container">
                    <div class="row text-center">
                        <div class="col-md-12">
                            <h2 class="mb40 uppercase">Search. Explore. Create.</h2>
                            <a class="btn btn-lg" href="https://app.lyraatlas.com/signup">Sign Up</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </li>
        </ul>
    </section>
    <section class="pt0 pb0 container">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="uppercase mb16">How It Works</h4>
                    <p class="lead mb64">
                        Creating and managing your online bucket list has never been easier.
                    </p>
                </div>
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="feature feature-1 bordered">
                            <a class="" href="https://app.lyraatlas.com/signup">
                                <div class="text-center">
                                    <i class="ti-user icon"></i>
                                    <h5 class="uppercase">Create an Account</h5>
                                </div>
                                <p class="text-center">
                                    Signing up is super easy, use any of your favorite social media accounts.
                                </p>
                                <div class="text-center pt16">
                                    <a class="btn btn-lg pb0 mb0" href="https://app.lyraatlas.com/signup">Sign Up</a>
                                </div>
                                
                            </a>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 bordered">
                        <div class="text-center">
                            <i class="ti-bag icon"></i>
                            <h5 class="uppercase">Create a Bucket</h5>
                        </div>
                        <p class="text-center">
                            Create a bucket for anything!  It could be your favorite places in africa, or your favorite places to eat in NYC.  
                            We'll help you fill out all the details.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
                <div class="col-sm-4">
                    <div class="feature feature-1 bordered">
                        <div class="text-center">
                            <i class="ti-announcement icon"></i>
                            <h5 class="uppercase">Share</h5>
                        </div>
                        <p class="text-center">
                            We want you to show off your bucket list to the world.  You can easily share buckets, or specific items that you want to accomplish on your list.
                        </p>
                    </div>
                    <!--end of feature-->
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="pt40 pb0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h4 class="uppercase mb16">Featured Buckets</h4>
                    <p class="lead mb64">
                        Some of our favorite buckets from users around the globe.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="image-bg bg-dark parallax overlay pt120 pb120">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="images/africabucket.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb8">Things you can only do in Africa.</h2>
                    <p class="lead mb40">Before I die, I absolutely must do these things in africa. </p>
                    <a class="btn btn-lg btn-white mb0" href="#">View Bucket</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-bg bg-dark parallax overlay pt120 pb120">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="images/vivacuba.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb8">Viva Cuba</h2>
                    <p class="lead mb40">Jazz, Cigars, and Beaches oh my.</p>
                    <a class="btn btn-lg btn-white mb0" href="#">View Bucket</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="image-bg bg-dark parallax overlay pt120 pb120">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="images/icelandcover.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb8">Icelandic Wonderland</h2>
                    <p class="lead mb40">Volcanoes and glaciers all on the same island.</p>
                    <a class="btn btn-lg btn-white mb0" href="#">View Bucket</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="pt24 pb8 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 text-center">
                    <ul class="list-inline social-list">
                        <li>
                            <a href="http://www.instagram.com/lyraatlas">
                                <i class="ti-instagram icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.twitter.com/lyraatlas">
                                <i class="ti-twitter-alt icon icon-sm"></i>
                            </a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/lyraatlas">
                                <i class="ti-facebook icon icon-sm"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6 text-center">
                    <a class="btn btn-lg btn-white" href="https://app.lyraatlas.com/signup">Sign Up</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
</div>