<div class="nav-container">
    <a id="top"></a>
    <nav class="nav-centered">
        <div class="text-center">
            <div class="container" style="margin:0px 0px 0px 0px;width:100%;padding: 0px; 0px; 0px; 0px;">
                <div class="row">
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-8">
                        <a href="/">
                            <div style="font-family: Playfair Display; font-size: 50px;margin-top:64px; margin-bottom:40px; font-weight:100; font-style:normal;" >
                                Lyra Atlas
                            </div>
                        </a>
                    </div>
                    <div class="col-md-2 hidden-xs hidden-sm hidden-md" style="margin-top:64px;">
                        <a href="/login" style="border-right:1px solid lightgrey; margin-right:10px; padding-right:10px; padding-bottom:5px; color:rgb(114, 114, 114);" >Login</a>
                        <a href="/signup" style="color:rgb(114, 114, 114)">Sign Up</a>
                    <div>
                </div>
            </div>
        </div>
        <div class="nav-bar text-center">
            <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
                <i class="ti-menu"></i>
            </div>
            <div class="module-group text-left">
                <div class="module left">
                    <ul class="menu">
                        <li>
                            <a href="/">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/about">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="/contact">
                                Contact
                            </a>
                        </li>
                        <li class="hidden-lg">
                            <a href="https://app.lyraatlas.com/login">
                                Login
                            </a>
                        </li>
                        <li class="hidden-lg">
                            <a href="https://app.lyraatlas.com/signup">
                                Sign Up
                            </a>
                        </li>
                        <li>
                            <a href="/blog">
                                Blog
                            </a>
                        </li>
                    </ul>
                </div>
                <!--end of menu module-->
                <div class="module widget-handle search-widget-handle">
                    <div class="search">
                        <i class="ti-search"></i>
                        <span class="title">Search Site</span>
                    </div>
                    <div class="function">
                        <form class="search-form">
                            <input type="text" placeholder="Type Here" />
                        </form>
                    </div>
                </div>
                <!--end of module group-->
            </div>
    </nav>
    </div>